<!-- app/views/feedback/categorize_news.html.erb -->
<% content_for :title, 'Categorize News' %>

<div class="container">
  <h1>Categorize News</h1>
  <p>Click the button below to categorize the news.</p>
  
  <%= link_to 'Categorize News', categorize_news_feedback_path, class: 'btn btn-primary' %>
</div>